/***** HEADINGS   *****************************************************************************************************/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: Verdana;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

/***** PARAGRAPH ELEMENTS   *******************************************************************************************/
p {
	font-size: 16px;
}

/***** IFRAME   *******************************************************************************************************/
iframe {
	width: 90%;
  height: 180px;
  border: 2px solid #f40;
  padding: 8px;
  margin-bottom: 8px;
}

/***** TABLES   *******************************************************************************************************/
table:not(
	.zebra-table-hv,
	.table-horizontal-dividers,
	.table-hover
) {
	background-color: #f2f2f2;
	background-image: url('../img/icon.png');
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 80%;
	height: 5px;
}

col {
	color: red;
	background-color: greenyellow;
}

th, 
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.zebra-table-horizontal th,
.zebra-table-vertical th {
	text-align: center;
	vertical-align: middle;
}

.zebra-table-horizontal tr:nth-child(even) {
	background-color: #8a83de;
}

.zebra-table-vertical th:nth-child(even),
.zebra-table-vertical td:nth-child(even) {
	background-color: #8a83de;
}

.zebra-table-hv tr:nth-child(even) {
   background-color: rgba(150, 212, 212, 0.4);
}

.zebra-table-hv th:nth-child(even),
.zebra-table-hv td:nth-child(even) {
   background-color: rgba(212, 150, 192, 0.4);
}

.table-horizontal-dividers tr {
	border-bottom: 5px solid #ddd;
}

.table-horizontal-dividers td {
	padding: 10px;
	border: 0px;
}

.table-hover tr:hover {
	background-color: red;
}

/***** LISTS   ********************************************************************************************************/
.list-nested {
	color: red;
}

ul {
/*	padding: 0;*/
}

li {
	font-size: 16px;
}

ul li {
/*	list-style-type: square;*/
	/*margin-bottom: 8px;					/* Adds spacing between list items */
	/*background-color: #f0f0f0;	/* Background color */
	/*border: 1px solid #ccc;	/* Border */
	/*padding: 8px;	/* Padding inside each list item */
	/*transition: background-color 2s;	/* Smooth transition effect */
}

li:hover {
	background-color: red;	/* Change background on hover */
}

ol li {
/*	list-style-type: lower-roman;*/
}

/***** LINKS   ********************************************************************************************************/
#about,
#home {
	height: 450px;
	background-color: grey;
}
